 <footer>
            <hr> Internet Programming. 2019&copy; Buckley<br />
            <strong>Disclamer:</strong> This page is strictly for academic purposes, and information may be inaccurate. <br />
        </footer>

</body>

</html>