<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <title>About Windows OS</title>
</head>

<body>

    <header>
        <h1>The Windows Operating System</h1>
        <hr>
    </header>
    
    
    <nav>
        <a class="nav" href="/">About</a>
        <a class="nav" href="ms-dos">MS-DOS</a>
        <a class="nav" href="windows10">Windows 10</a>
        <a class="nav" href="internetExplorer">Internet Explorer</a>
    </nav>
    
    <script src="/js/activePage.js"></script>