<% include partials/header.ejs %>

    <content-main class="flex-container">
        <section><h2><strong>About Windows</strong></h2></section>

        <div id="picturesHolder">
            <img class="mainPageImage" src="img/windows3.0Logo.jpg" alt="Windows 3.0 Logo" />
            <img class="mainPageImage" src="img/windowsXPLogo.jpg" alt="Windows XP Logo" />
            <img class="mainPageImage" src="img/windows10Logo.png" alt="Windows 10 Logo" />
        </div>
        <div id=aboutContainer>
            <p>Windows is an operating system created by Microsoft for personal computers that provides the user with an easy to use graphical user interface (gui). It is currently the most used operating system in the realm of personal computers. The operating
                system started as a basic gui extension to MS-DOS in 1985. Within in a decade Windows and DOS were fully integrated with the release of Windows 95 that offered internet support through its Internet Explorer browser. As technology entered
                into the 2000s era Windows became a more robust operating system that could handle more powerful code, and provide more customization for the user. Since the release of Windows 8 users are able to customize their preferences on one computer,
                and log into another Windows machine using the same settings. The final addition to the Windows family, Windows 10 brought the feature of a digital assitance cortana. So over the years Windows has developed into a powerful operating system
                that is able to support countless programs, and provide a wide range of customization for the user.
            </p>
            <p>Reference: <a href="https://www.britannica.com/technology/Windows-OS">Windows OS</a></p>
        </div>

        <!--Reference https://www.britannica.com/technology/Windows-OS -->
        </content-main>

<% include partials/footer.ejs %>
