<% include partials/header.ejs %>

    <content-ie class="flex-container">
        <section id="page4"><h2><strong>Internet Explorer</strong></h2></section>

        <div id="internetExplorerInfo">

            <figure id="ieLogo">
                <img src="img/internetExplorerLogo.jpg" alt="Internet Explorer Logo" />
            </figure>

            <p>Internet Explorer is the first graphical web browser developed by Microsoft, and accompanied Windows operating systems up until windows 8. It was made in 1995 to compeate against the popular netscape browser. Microsoft spent over 100 million
                dollars per year in the late 1990s on the internet browser alone to beat netscape in having the best browser. This paid off in 2003, when Internet Explorer claimed 95% of web vistors on the internet. However, that did not last for long
                as other competors such as FireFox entered the arena, and over the years Internet Explorer saw a loss in users. Then with the introduction of Windows 10 Internet Explorer was discontinued, and replaced with edge. Internet Explorer was
                able to implement scripting like other internet browsers, but was unable to keep up with the current website standards, and to provide the same level of functionality as other browswers offered. <br>
                Reference: <a href="https://en.wikipedia.org/wiki/Internet_Explorer">Internet Explorer</a></p>

        </div>

    </content-ie>

<% include partials/footer.ejs %>
