<% include partials/header.ejs %>

    <content-windows10 class="flex-container">
        <section id="page3">
            <h2><strong>Windows 10</strong></h2>
        </section>

        <div id=windows10Info>

            <figure id="windows10Logo">
                <img src="img/longWindows10Logo.png" alt="Long Windows 10 Logo" />
            </figure>

            <p>Windows 10 is the successor to the windows 8 operating system, and the last Windows. Microsoft has decided to release continous updated builds rather than providing a new operating system every few years. As well, they have provided more optimization
                towards touchscreen interfaces to be more inclusive towards 2 in 1 computer and tablets such as their surface pro. Windows also took the step back to a desktop interface rather than continuing with the idea of startup screen after logging
                in. Currently 60% of active Windows computers are running Windows 10.</p>

            <p>Additional Features that Windows 10 Brings to Users:</p>

            <ul>
                <li><strong>Edge:</strong> Microsofts new Internet browser </li>
                <li><strong>Facial Recognition:</strong> can now login with facial recognition </li>
                <li><strong>Fingerprint:</strong> can now login with fingerprint </li>
                <li><strong>Virtual Desktop:</strong> allows the user to open multiple desktop instances </li>
                <li><strong>Cortana:</strong> voice assistant ai</li>
            </ul>
            
            <br>
            <p>Reference: <a href="https://en.wikipedia.org/wiki/Windows_10">Windows 10</a></p>
        </div>





    </content-windows10>

<% include partials/footer.ejs %>
